@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Inter:wght@400;700;800&family=Oswald&display=swap');

body {
  background-color: #0a192f;
}

#root {
  max-width: 1280px;
  width: 86%;
  margin: 0 auto;
  padding: 1rem;
  scroll-behavior: smooth;
  background-color: #0a192f;
}

.salmon {
  color: salmon;
}

.bg-salmon {
  background-color: salmon;
}

.yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.lime {
  color: lime;
}

.bg-lime {
  background-color: lime;
}

.orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.aqua {
  color: aqua;
}

.bg-aqua {
  background-color: aqua;
}

.fuchsia {
  color: fuchsia;
}

.bg-fuchsia {
  background-color: fuchsia;
}

.violet {
  color: #CF9FFF;
}

.bg-violet {
  background-color: #CF9FFF;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-top: .5rem;
  background-color: #CBD5E0;
}

.contact-link svg {
  fill: #CBD5E0;
  height: 36px;
  width: 36px;
}

.contact-link svg:hover {
  border-bottom: 1px solid #fff;
  fill: #fff;
}

.contact-link.contact-link--gh svg {
  height: 30px;
  width: 30px;
}

.contact-link--resume {
  color: #CBD5E0;
}

.contact-link--resume:hover {
  color: #fff;
  border-color: #fff;
}

.td-width {
  width: 34px;
}
